# archivos compilados
__pycache__/
*.pyc
*.pyo

# archivos del sistema
.DS_Store
Thumbs.db

# entorno virtual
envTFG/
envTFG/*

# archivos temporales
*.mov
*.mp4
*.png
*.jpg
.env

# archivos BD
*.db
sawubona_data/

# Ignorar carpetas de empaquetado de PyInstaller
dist/
build/
*.spec

# permitir la cara para pruebas
!tests/fixtures/
!tests/fixtures/*.jpg